<template>
    <div class="container-fluid">
        <div class="row">  
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between my-schedule mb-4">
                   <div class="d-flex align-items-center justify-content-between">
                        <h4 class="font-weight-bold">Договора</h4>
                    </div>  
                     <div class="create-workform">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="modal-product-search d-flex">
                                <form class="mr-3 position-relative">
                                    <div class="form-group mb-0">
                                    <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="Поиск">
                                    <a class="search-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                    </a>
                                    </div>
                                </form>
                                <router-link :to="{name:'product.productadd'}" class="btn btn-primary position-relative d-flex align-items-center justify-content-between svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    Добавить договор
                                </router-link>
                            </div>                            
                        </div>
                    </div> 
                </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-block card-stretch">
                            <div class="card-body p-2">
                                <div class="d-flex justify-content-between align-items-center p-2">
                                    <h5 class="font-weight-bold">Список договоров</h5>
                                    <button class="btn btn-secondary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                        </svg>
                                        Экспорт
                                    </button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table data-table mb-0" id="myTable">
                                        <thead class="table-color-heading">
                                            <tr class="text-light">
                                                <th scope="col">
                                                    <label class="text-muted m-0" for="text1">№</label>
                                                    <!-- {{!-- <input type="text" class="form-control mt-2" id="text1" aria-describedby="textHelp" placeholder="Search Product"> --}} -->
                                                </th>
                                                <th scope="col">
                                                    <label class="text-muted mb-0" for="text2">Тип</label>
                                                    <!-- {{!-- <select class="custom-select custom-select-sm mt-2 choicesjs" id="validationServer01">
                                                        <option selected>Select Category</option>
                                                        <option value="1">Tablet</option>
                                                        <option value="2">Speaker</option>
                                                        <option value="3">Pendrive</option>
                                                        <option value="4">Mobile</option>
                                                        <option value="5">Laptop</option>
                                                        <option value="6">Headset</option>
                                                    </select> --}} -->
                                                </th>
                                                 <th scope="col">
                                                    <label class="text-muted mb-0" for="text3">Номер договора</label>
                                                 </th>
                                                <th scope="col">
                                                    <label class="text-muted mb-0" for="text4">Город</label>
                                                    <!-- {{!-- <input type="text" class="form-control mt-2" id="text2" aria-describedby="textHelp" placeholder="Price"> --}} -->
                                                </th>
                                                <th scope="col">
                                                    <label class="text-muted mb-0" for="text5">Клиент</label>
                                                    <!-- {{!-- <input type="text" class="form-control mt-2" id="text3" aria-describedby="textHelp" placeholder="Quantity"> --}} -->
                                                </th>
                                                <th scope="col">
                                                    <label class="text-muted mb-0" for="text6">Статус</label>
                                                    <!-- {{!-- <select class="custom-select custom-select-sm mt-2" id="validationServer02">
                                                        <option selected>Select Inventory</option>
                                                        <option value="1">In Stock</option>
                                                        <option value="2">Limited</option>
                                                        <option value="3">Out Of Stock</option>
                                                    </select> --}} -->
                                                </th>
                                                <th scope="col">
                                                    <label class="text-muted mb-0" for="text5">Квадратура</label>
                                                    <!-- {{!-- <input type="text" class="form-control mt-2" id="text3" aria-describedby="textHelp" placeholder="Quantity"> --}} -->
                                                </th>
                                                <th scope="col">
                                                    <span class="text-muted mb-1" for="validationServer01">Действие</span>
                                                    <!-- {{!-- <p class="text-muted"></p> --}} -->
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="white-space-no-wrap" v-for="(product,index) in products" :key="index">
                                                <td>{{product.id}}</td>
                                                <td>{{product.type}}</td>
                                                <td>{{product.contract_number}}</td>
                                                <td>{{product.city}}</td>
                                                <td>{{product.client}}</td>
                                                <td>{{product.status}}</td>
                                                <td>{{product.quadrature}}</td>
                                                <td>
                                                        <a class="" v-b-tooltip.top title="Edit" href="#">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mx-4" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </a>
                                                        <a class="badge bg-danger" v-b-tooltip.top title="Delete" href="#">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>         
        </div>
    </div>
</template>

<script>
export default{
    name: 'Contract',
    data(){
        return{
           products:[
               { 
                   id: 1,
                   type: 'Аренда',
                   city:'Алматы',
                   client: 'Асетов Алмаз Мухтарович',
                   status:'На подписании',
                   contract_number:'SA0101',
                   quadrature:'120'
               }
           ]
        }
    }
}
</script>