<template>
<div :class="'iq-sidebar  sidebar-default ' + variant">
    <div class="iq-sidebar-logo d-flex align-items-end justify-content-between ml-3">
         <a href="/" class="header-logo">
            <img :src="sidelogo" class="img-fluid rounded-normal light-logo" alt="logo">
            <img src="@/assets/images/logo.png" class="img-fluid rounded-normal d-none sidebar-light-img" alt="logo">
            <span></span>            
        </a>
        <div class="side-menu-bt-sidebar-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
    </div>
    <div class="data-scrollbar pt-5" data-scroll="1" id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="side-menu">
                <li :class=" checkActive('layout.dashboard1') ? 'sidebar-layout active' : 'sidebar-layout'">
                    <router-link :to="{ name: 'layout.dashboard1'}" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                        </i>
                        <span class="ml-2">Главная </span>
                        <!-- <p class="mb-0 w-10 badge badge-pill badge-primary">6</p> -->
                    </router-link>
                </li>

                <li :class="checkActive('layout.customer') ? 'sidebar-layout active' : 'sidebar-layout'">
                    <router-link :to="{name :'layout.customer'}" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </i>
                        <span class="ml-2">Клиенты</span>
                    </router-link>
                </li>
                <!-- <li :class="checkActive('layout.product') ? 'sidebar-layout active' : 'sidebar-layout'">
                    <router-link :to="{name: 'layout.product'}" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                            </svg>
                        </i>
                        <span class="ml-2">Задачи</span>
                    </router-link>
                </li> -->
                <li :class="checkActive('layout.contract') ? 'sidebar-layout active' : 'sidebar-layout'">
                    <router-link :to="{name: 'layout.contract'}" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </i>
                        <span class="ml-2">Договора</span>
                    </router-link>
                </li>
                <li :class="checkActive( 'pages.invoices') ? 'sidebar-layout active' : 'sidebar-layout'">
                    <router-link :to="{name: 'pages.invoices'}" class="svg-icon">
                        <i class="">
                            <svg class="icon line" width="18" height="18" id="receipt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M17,16V3L13,5,10,3,7,5,3,3V17.83A3.13,3.13,0,0,0,5.84,21,3,3,0,0,0,9,18V17a1,1,0,0,1,1-1H20a1,1,0,0,1,1,1v1a3,3,0,0,1-3,3H6" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                                <line x1="8" y1="10" x2="12" y2="10" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line>
                            </svg> 
                        </i>
                        <span class="ml-2">Доходы</span>
                    </router-link>
                </li>
			
                <li :class="checkActive('layout.calendar') ? 'sidebar-layout active' : 'sidebar-layout'">
					<router-link :to="{name: 'layout.calendar'}" class="svg-icon">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="h-6 w-6"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                        </i>
                        <span class="ml-2">Календарь задач</span>
                    </router-link>
                </li>
            </ul>
        </nav>
    </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex'
import {core} from '@/config/pluginInit'
export default {
  name:"SidebarStyle",
  props:{
     items: Array,
     variant: {type: String}
  },
  data () {
    return{
      homeurl:'',
      dashboards:['layout.dashboard1','layout.dashboard2','layout.dashboard3','layout.customer','layout.product','layout.order','layout.calendar'],
      app:['app.chat'],
      user:['app.user-profile','app.user-add','app.user-list'],
      auth:['auth.login','auth.register','auth.recover-password','auth.confirm-mail'],
      extraPages:[ 'pages.invoices'],
      pages:[]
    }
  },
  mounted () {
    core.SmoothScrollbar()
    const urlParams = new URLSearchParams(window.location.search);
    const sidebar = urlParams.get('sidebar');
    if (sidebar !== null) {
         this.variant=''
        switch (sidebar) {
            case "0":
                this.variant ='sidebar-dark'
            break;
            case "1":
                this.variant ='sidebar-light'
            break;
            default:
                this.variant =''
                break;
        }
    }
  },
    destroyed () {
        core.SmoothScrollbar()
    },
    computed : {
        ...mapGetters({
            logo:'darklogo',
            sidelogo:'logo',
        })
    },
    methods: {
        checkActive(route) {
            if (this.$route.name == route) {
                return true;
            }
            if (route.includes(this.$route.name)) {
                return true
            }
        },
        miniSidebar(){
            core.triggerSet()
        },
        showCollapse(collapseId) {
            document.getElementById(collapseId).closest('li').classList.add('active')
        },
        hideCollapse() {
            const list = document.querySelector('.iq-sidebar-menu').querySelectorAll('.submenu')
            Array.from(list, elem => {
                if (elem.closest('.active') !== null && elem.closest('.active') !== undefined) {
                    elem.closest('.active').classList.remove('active')
                }
            })
        }
    },
}
</script>

